@charset "utf-8";
/* CSS Document */
/*公用*/
.show{ }
.hidden{ }

/*头部*/
/*收藏层*/
.favorite{ width:1000px; height:30px; margin:0 auto; line-height:30px;}
.favorite i{ width:15px; height:14px; display:inline-block; background:url(../img/%E7%AD%9B%E9%80%89%E9%A1%B5/sprite.png) -73px 0px; margin-bottom:-2px;}
.favorite span{ font-size:12px; color:#666;}
.favorite span a:hover{ color:red;}
.favorite p{ float:right; font-size:12px; color:#666;}
.favorite p a:hover{ color:red;}
/*搜索层*/
header section{ background-color:#1d7ad9;}
.search{ width:1000px; height:85px; margin:0 auto; line-height:85px; overflow:hidden;}
.search .search_logo{ background-image:url(../img/%E7%AD%9B%E9%80%89%E9%A1%B5/%E5%9B%BE%E5%B1%82%2016.png); width:112px; height:59px; float:left; line-height:85px; margin:13px 0 13px 39px;}
.search input{ width:360px; height:35px; margin:0 0 0 185px; outline:none;}
.search button{ width:69px; height:35px; margin:0; background-color:#ff8c00; color:#FFF; font-size:14px;}
.search button:hover{ cursor:pointer;}
.search .shoppingcart{ width:145px; height:35px; float:right; background-color:#ff8c00; margin:24px 59px 0 0; line-height:35px; overflow:hidden; color:#FFF;}
.search .shoppingcart .shoppingcart_left{ width:87px; height:35px; float:left; border-right:1px solid #e27a00;}
.search .shoppingcart .shoppingcart_left:hover{ cursor:pointer;}
.search .shoppingcart .shoppingcart_left span{ display:block; width:23px; height:20px; background:url(../img/%E7%AD%9B%E9%80%89%E9%A1%B5/sprite.png) -50px 0 no-repeat; margin:7px 7px 0 10px; float:left;}
.search .shoppingcart .shoppingcart_right{ width:56px; height:35px; float:right; border-left:1px solid #ff9c01;}
.search .shoppingcart .shoppingcart_right p{ float:right; margin-right:6px;}
.search .shoppingcart .shoppingcart_right span{ display:block; width:12px; height:12px; background:url(../img/%E7%AD%9B%E9%80%89%E9%A1%B5/sprite.png) -88px 0; float:right; margin:12px 11px 0 0;}
/*导航条*/
header nav{ background-color:#1369C0;}
header nav .header_nav{ width:1000px; height:35px; margin:0 auto; overflow:hidden;}
header nav .header_nav .category{ width:190px; height:35px; float:left; line-height:35px; text-indent:35px; color:#FFF;}
header nav .header_nav .category i{ width:11px; height:7px; display:block; float:right; background:url(../img/%E7%AD%9B%E9%80%89%E9%A1%B5/sprite.png) -113px 0 no-repeat; margin:14px 30px 0 0;}
header nav .header_nav:hover{ cursor:pointer;}
header nav .header_nav ul{ overflow:hidden;}
header nav .header_nav ul li{ width:100px; height:35px; float:left; line-height:35px; text-align:center;}
header nav .header_nav ul li a{ width:100%; height:100%; color:#FFF;}
header nav .header_nav ul li:hover{ background-color:#4593FD;}

/*商品分类*/
/*一级菜单*/
header aside{ width:1000px; position:absolute; top:150px; left:50%; margin-left:-500px; display:none;}
header aside:hover{ display:block;}
header aside ul{ width:190px;}
header aside ul li{ width:100%; height:63px; background-color:#4593FD; border-top:1px solid #5AA1FE; border-bottom:1px solid #3487F2; background-image:url(../img/%E7%AD%9B%E9%80%89%E9%A1%B5/%E7%AE%AD%E5%A4%B42.png); background-repeat:no-repeat; background-position:172px 19px;}
header aside ul li:first-child{ border-top:none;}
header aside ul li:last-child{ border-bottom:none;}
header aside ul li h3{ display:inline-block; margin:13px 10px 0 10px; color:#FFF; font-size:14px;}
header aside ul li h3 a{ color:#FFF;}
header aside ul li span{ width:48px; height:20px; display:inline-block; border-radius:10px; background-color:#106AC0; line-height:20px; text-align:center; color:#FFF; font-size:12px;}
header aside ul li span a{ color:#FFF;}
header aside ul li p{ margin:5px 0 0 10px; color:#C2D9F8; font-size:12px;}
/*二级菜单*/
header aside .header_aside_second{ width:570px; position:absolute; left:190px; top:0px; border:1px solid #DDD; height:auto; display:block; background-color:#FFF;}
header aside .header_aside_second:hover{ display:block;}
header aside .header_aside_second ol{ float:left; margin-left:20px; display:none; background-color:#FFF;}
header aside .header_aside_second ol:first-child{ }
header aside .header_aside_second ol:hover{ display:block;}
header aside .header_aside_second ol li{ line-height:42px; float:left; border-bottom:1px solid #DDD; }
header aside .header_aside_second ol li:last-of-type{ border-bottom:none;}
header aside .header_aside_second ol li span{ width:72px; display:block; float:left; font-size:12px;}
header aside .header_aside_second ol li span a{ color:#4B88DA; font-weight:bold;}
header aside .header_aside_second ol li p{ width:430px; display:block; float:left; font-size:12px; }
header aside .header_aside_second ol li p a:hover{ color:#FF7300;}



/*主体内容*/
.main{ width:1000px; margin:0 auto;}
/*侧边栏*/
.main aside{ width:188px;}
.main aside ul{ border:1px solid #CDCDCD; margin-top:17px;}
.main aside ul li{ width:100%; border-bottom:1px dotted #CDCDCD;}
.main aside ul li:first-of-type,
.main aside ul li:nth-last-of-type(2){ border-bottom:1px solid #CDCDCD;}
.main aside ul li:last-of-type{ border-bottom:none;}
.main aside ul li h2{ font-size:16px; margin:10px auto; text-align:center; font-weight:bold;}
.main aside ul li h3{ font-size:12px;  text-indent:9px; font-weight:bold; margin-top:13px;}
.main aside ul li a{ font-size:12px; display:block; margin-top:10px; text-indent:19px;}
.main aside ul li a:last-of-type{ margin-bottom:13px;}
.main aside ul li:last-of-type a{ margin:10px 0 10px 25px; text-indent:0px;}
.main aside ul li:last-of-type a p{ width:90px; display:inline-block; float:right; margin-right:10px; color:#999;}
.main aside ul li:last-of-type a strong{ display:inline-block; color:#000;}
/*索引栏*/
/*商品栏*/












