@charset "utf-8";
/* CSS Document */
/*公用*/
.comwidth{ width:1000px; margin-left:auto; margin-right:auto;}
.float_left{ float:left;}
.float_right{ float:right;}





/*头部*/
/*收藏层*/
.favorite{ width:1000px; height:30px; margin:0 auto; line-height:30px;}
.favorite i{ width:15px; height:14px; display:inline-block; background:url(../img/%E7%AD%9B%E9%80%89%E9%A1%B5/sprite.png) -73px 0px; margin-bottom:-2px;}
.favorite span{ font-size:12px; color:#666;}
.favorite span a:hover{ color:red;}
.favorite p{ float:right; font-size:12px; color:#666;}
.favorite p a:hover{ color:red;}
/*搜索层*/
header section{ background-color:#1d7ad9;}
.search{ width:1000px; height:85px; margin:0 auto; line-height:85px; overflow:hidden;}
.search .search_logo{ background-image:url(../img/%E7%AD%9B%E9%80%89%E9%A1%B5/%E5%9B%BE%E5%B1%82%2016.png); width:112px; height:59px; float:left; line-height:85px; margin:13px 0 13px 39px;}
.search input{ width:360px; height:35px; margin:0 0 0 185px; outline:none;}
.search button{ width:69px; height:35px; margin:0; background-color:#ff8c00; color:#FFF; font-size:14px;}
.search button:hover{ cursor:pointer;}
.search .shoppingcart{ width:145px; height:35px; float:right; background-color:#ff8c00; margin:24px 59px 0 0; line-height:35px; overflow:hidden; color:#FFF;}
.search .shoppingcart .shoppingcart_left{ width:87px; height:35px; float:left; border-right:1px solid #e27a00;}
.search .shoppingcart .shoppingcart_left:hover{ cursor:pointer;}
.search .shoppingcart .shoppingcart_left span{ display:block; width:23px; height:20px; background:url(../img/%E7%AD%9B%E9%80%89%E9%A1%B5/sprite.png) -50px 0 no-repeat; margin:7px 7px 0 10px; float:left;}
.search .shoppingcart .shoppingcart_right{ width:56px; height:35px; float:right; border-left:1px solid #ff9c01;}
.search .shoppingcart .shoppingcart_right p{ float:right; margin-right:6px;}
.search .shoppingcart .shoppingcart_right span{ display:block; width:12px; height:12px; background:url(../img/%E7%AD%9B%E9%80%89%E9%A1%B5/sprite.png) -88px 0; float:right; margin:12px 11px 0 0;}
/*导航条*/
header nav{ background-color:#1369C0;}
header nav .header_nav{ width:1000px; height:35px; margin:0 auto; overflow:hidden;}
header nav .header_nav .category{ width:190px; height:35px; float:left; line-height:35px; text-indent:35px; color:#FFF;}
header nav .header_nav .category i{ width:11px; height:7px; display:block; float:right; background:url(../img/%E7%AD%9B%E9%80%89%E9%A1%B5/sprite.png) -113px 0 no-repeat; margin:14px 30px 0 0;}
header nav .header_nav:hover{ cursor:pointer;}
header nav .header_nav ul{ overflow:hidden;}
header nav .header_nav ul li{ width:100px; height:35px; float:left; line-height:35px; text-align:center;}
header nav .header_nav ul li a{ width:100%; height:100%; color:#FFF;}
header nav .header_nav ul li:hover{ background-color:#4593FD;}

/*商品分类*/
/*一级菜单*/
header aside{ width:1000px; position:absolute; top:150px; left:50%; margin-left:-500px; display:block;}
header aside:hover{ display:block;}
header aside ul{ width:190px; position:relative; z-index:5;}
header aside ul li{ width:100%; height:63px; background-color:#4593FD; border-top:1px solid #5AA1FE; border-bottom:1px solid #3487F2; background-image:url(../img/%E7%AD%9B%E9%80%89%E9%A1%B5/%E7%AE%AD%E5%A4%B42.png); background-repeat:no-repeat; background-position:172px 19px;}
header aside ul li:first-child{ border-top:none; padding-top:2px;}
header aside ul li:last-child{ border-bottom:none;}
header aside ul li h3{ display:inline-block; margin:13px 10px 0 10px; color:#FFF; font-size:14px;}
header aside ul li h3 a{ color:#FFF;}
header aside ul li span{ width:48px; height:20px; display:inline-block; border-radius:10px; background-color:#106AC0; line-height:20px; text-align:center; color:#FFF; font-size:12px;}
header aside ul li span a{ color:#FFF;}
header aside ul li p{ margin:5px 0 0 10px; color:#C2D9F8; font-size:12px;}
/*二级菜单*/
header aside .header_aside_second{ width:570px; position:absolute; left:190px; top:0px; border:1px solid #DDD; height:auto; display:none; background-color:#FFF; margin-left:-1px; z-index:4;}
header aside .header_aside_second:hover{ display:block;}
header aside .header_aside_second ol{ float:left; padding-left:20px; display:none; background-color:#FFF;}
header aside .header_aside_second ol:first-child{ }
header aside .header_aside_second ol:hover{ display:block;}
header aside .header_aside_second ol li{ line-height:42px; float:left; border-bottom:1px solid #DDD; }
header aside .header_aside_second ol li:last-of-type{ border-bottom:none;}
header aside .header_aside_second ol li span{ width:72px; display:block; float:left; font-size:12px;}
header aside .header_aside_second ol li span a{ color:#4B88DA; font-weight:bold;}
header aside .header_aside_second ol li p{ width:430px; display:block; float:left; font-size:12px; }
header aside .header_aside_second ol li p a:hover{ color:#FF7300;}



/*主体内容*/
/*banner*/
.main_banner{ position:relative; overflow:hidden; clear:both;}
.main_banner_pic{position:absolute; left:0px; top:0px;}
.main_banner_pic a{ float:left;}
.main_banner_box{position:absolute; left:0; bottom:10px; text-align:center; width:100%;}
.main_banner_box a{ width:20px; height:5px; display:inline-block; background-color:#FFF;}
.main_banner_box .active{ background-color:#ff8c00;}
.banner_banner{ width:810px; height:325px;  margin-bottom:15px; float:right;}
.banner_pic{ width:1620px; height:326px; }
.banner_pic a{ width:810px; height:326px;}

/*商品标题*/
.main_tit{ height:44px; font-family:"微软雅黑"; line-height:44px; clear:both; margin-bottom:15px;}
.main_tit h3{ font-size:24px; float:left; font-weight:normal; padding-left:15px;}
.main_tit span{ width:44px; height:44px; float:left; background:url(../img/%E5%9B%BE%E5%B1%82%205%20%E5%89%AF%E6%9C%AC.png) left top no-repeat;}
.main_tit a{ float:right; font-family:"宋体";}
.main_tit a:hover{ text-decoration:underline;}
/*商品列表*/
/*左边banner*/
.tit_banner{ width:190px; height:400px; float:left; margin-bottom:15px;}
.tit_pic{ width:380px; height:400px;}
.tit_pic a{ width:190px; height:400px}
/*右边商品表*/
.main_titdata_right{ width:810px; height:396px; border-top:1px solid #dddddd; border-bottom:3px solid #ff7201;}
.main_titdata_right_top{ height:279px; border-bottom:1px solid #DDD; margin-right:-2px;}
.main_titdata_right_top li{ width:202px; height:100%; border-right:1px solid #DDD; float:left; text-align:center;}
.main_titdata_right_top li a{ margin-top:45px; display:inline-block;}
.main_titdata_right_top li h3{ font-size:16px; font-weight:bold; line-height:24px; color:black; margin-top:25px;}
.main_titdata_right_top li span{ font-size:14px; line-height:24px; color:#ff7300;}
.main_titdata_right_bottom{ height:116px; margin-right:-2px;}
.main_titdata_right_bottom li{ width:202px; height:100%; border-right:1px solid #DDD; float:left; text-align:center; display:table; overflow:hidden;}
.main_titdata_right_bottom li div{ display:table-cell; vertical-align:middle; padding:0 3px;}
.main_titdata_right_bottom li a{ display:inline-block; float:left;}
.main_titdata_right_bottom li h3{ width:110px; font-size:12px; line-height:18px; color:#ff7201; float:left;}
.main_titdata_right_bottom li span{ font-size:16px; line-height:18px; color:black; float:left;}



/*脚部*/
.footer{ text-align:center; background-color:#d4d4d4; line-height:24px; padding:50px 0; clear:both;}
.footer i{ font-style:normal; margin:0 5px;}
.footer a{ color:#000;}
.footer a:hover{ color:#FB9D05;}
.footer_pic{ margin-top:20px;}
.footer_pic a{ margin:0 12px;}
































